
- name: Restart dovecot
  tags: dovecot
  notify: Compile global sieve scripts
  systemd:
    name: dovecot
    state: restarted

- name: Compile global sieve scripts
  tags: dovecot
  command: '/usr/bin/sievec /etc/dovecot/sieve/{{ file }}'
  with_items:
    - '{{ sieve.global_scripts }}'
  loop_control:
    loop_var: file

- name: Restart AppArmor service
  systemd:
    name: apparmor
    state: restarted
    no_block: true

- name: Restart fail2ban
  systemd:
    name: fail2ban
    state: restarted
    no_block: true

- name: Restart tomcat
  systemd:
    service: 'tomcat{{ tomcat_version[ansible_distribution_release] }}'
    state: restarted
    no_block: true
