[Unit]
Description=Address book search and tag milter service

[Service]
Type=simple
User=postfix
Group=postfix
ExecStart=/usr/local/bin/milter-abook.py
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
PIDFile=/run/milter-abook/main.pid
WorkingDirectory=/run/milter-abook
Restart=always

[Install]
WantedBy=default.target
