# This folder creates ISO images for a complete installer, before running the Ansible scripts

# Everything is build here
build/

# Everything in this folder will be decompressed on the target
# before the first boot
misc/