[Unit]
Description=Certificate renewal service
After=network.target

[Service]
WorkingDirectory=/etc/lego
Type=oneshot
ExecStart=/usr/local/sbin/cert-renew
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=timers.target
