# Host file is per user
hosts

# Ignore the local configuration files
config/system.yml
config/hosts.yml

# Ignore ansible error files
*.retry

# Ignore editors files
README.html
.markdown-preview.html

# Sandbox folder to tests
sandbox/*
!sandbox/readme.md

# Backup folder:
backup/*
!backup/readme.md
