# Host file is per user
hosts

# Variables used for the Debian preseed generation
preseed/variables/*.yml
!preseed/variables/*.example.yml

# Variables Used for Ansible deployment
install/playbooks/variables/*.yml
!install/playbooks/variables/*.example.yml

# Same for the hosts file
config/hosts.yml

# Ignore ansible error files
*.retry

# Ignore editors files
.vscode
README.html

# Ignore the authorized_keys file when building the ISO image
preseed/misc/root/.ssh/authorized_key

# Backup folder:
# - certificates: Letsencrypt Certificates archives, see the file "certificates/readme.md" for details
# - dkim: dkim keys 
backup/certificates/letsencrypt
backup/dkim-keys/dkim
backup/ldap