
{% if ispReport | length > 0 %}
Report By ISP
================================================================================
| ISP                     | Country          | From       | Until      | Count |
|-------------------------+------------------+------------+------------+-------|
{% for record in ispReport %}
{%- if record['isp'] | length > 23 -%}
    {{- "|_%22s…_" | format(record['isp'][0:21]) -}}
{%- else -%}
    {{- "|_%23s_" | format(record['isp']) -}}
{%- endif -%}
{%- if record['country'] | length > 16 -%}
    {{- "|_%15…s_" | format(record['country'][0:14]) -}}
{%- else -%}
    {{- "|_%16s_" | format(record['country']) -}}
{%- endif -%}
{{- "|_%10s_" | format(record['from-date']) -}}
{{- "|_%10s_" | format(record['till-date']) -}}
{{- "|_%5s_|" | format(record['nbConnections']) }}
{% endfor -%}
================================================================================
{% endif %}


{% if countryReport | length > 0 %}
Report by Country
================================================================================
| Country                                    | From       | Until      | Count |
|--------------------------------------------+------------+------------+-------|
{% for record in countryReport %}
{{- "|_%42s_" | format(record['country'][0:15]) -}}
{{- "|_%10s_" | format(record['from-date']) -}}
{{- "|_%10s_" | format(record['till-date']) -}}
{{- "|_%5s_|" | format(record['nbConnections']) }}
{% endfor -%}
================================================================================
{% endif %}


{% if sourceReport | length > 0 %}
Report by Source
================================================================================
| Source                                     | From       | Until      | Count |
|--------------------------------------------+------------+------------+-------|
{% for record in sourceReport %}
{{- "|_%42s_" | format(record['source']) -}}
{{- "|_%10s_" | format(record['from-date']) -}}
{{- "|_%10s_" | format(record['till-date']) -}}
{{- "|_%5s_|" | format(record['nbConnections']) }}
{% endfor -%}
================================================================================
{% endif %}


{% if statusReport and statusReport | length > 0 %}
Report by Status
================================================================================
| Status      |      IP address              | From       | Until      | Count |
|-------------+------------------------------+------------+------------+-------|
{% for record in statusReport %}
{{- "|_%11s_" | format(record['status']) -}}
{%- if record['ip'] | length > 28 -%}
    {{- "|_%27…s_" | format(record['ip'][0:27]) -}}
{% else %}
    {{- "|_%28s_" | format(record['ip']) -}}
{% endif %}
{{- "|_%10s_" | format(record['from-date']) -}}
{{- "|_%10s_" | format(record['till-date']) -}}
{{- "|_%5s_|" | format(record['nbConnections']) }}
{% endfor -%}
================================================================================
{% endif %}

{% if hourReport %}
Report by Hour
================================================================================
{% for c in range(20, 0, -1) -%}
|___{%- for h in range(0, 24) -%}
{{- ":: " if (hourReport[h]['count'] >= c) else "___" -}}
{%- endfor %}___|
{% endfor -%}
|------------------------------------------------------------------------------|
|   00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23    |
================================================================================
{% endif %}
