---

- name: Activate AppArmor profile
  command: 'aa-enforce usr.sbin.nginx'

- name: Restart AppArmor service
  service:
    name: apparmor
    state: restarted

- name: Restart php-fpm
  service:
    name: php7.0-fpm
    state: restarted

- name: Restart nginx
  notify:
    - Restart IMAP proxy
    - Restart php-fpm
  service:
    name: nginx
    state: restarted
