[Unit]
Description=RoundCube address book search and tag milter service

[Service]
Type=simple
User=postfix
Group=postfix
ExecStart=/usr/local/bin/milter-rc-abook.py
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
PIDFile=/run/milter-rc-abook/main.pid
WorkingDirectory=/run/milter-rc-abook

[Install]
WantedBy=default.target
