---

- name: Reload systemd
  systemd:
    daemon_reload: true

- name: Restart milter service
  systemd:
    name: milter-rc-abook
    state: restarted
    enabled: true
    no_block: true

- name: Reload postfix
  systemd:
    name: postfix
    state: restarted
    no_block: true
