<!doctype html>

<html lang="{{ website_language }}">
<head>
    <meta charset="{{ website_charset }}">
    <title>Welcome to www.{{ network.domain }}</title>
    <meta name="description" content="A very simple default page">
    <meta name="author" content="webmaster@{{ network.domain }}">
    <link rel="stylesheet" href="css/demo.css">
</head>
<body>
    <script src="js/demo.js" defer></script>

    <h1>Static site default page</h1>
    <p>This is a small site to display the standard settings for HomeBox.</p>

    <h2>JavaScript status</h2>
    <p>Current status of JavaScript on this page:
        <span id="js-status">Not working</span>!
    </p>

    <h2>CSS status</h2>
    <p>Current status of CSS on this page:
        <span id="css-status-not-working">Not</span> working!
    </p>

</body>
</html>
