/* Bigger level 2 menu entries */
.toctree-l2 a {
    font-size: 100%;
}

/* Indent level 3 menu entries */
a.toctree-l3 {
    text-indent: 15pt;
}

/* Someone tried to be clever
 * and added negative margin with padding
 * just kiss. I only asked highlighting a line
 */
div.codehilite span.hll {
    margin: auto;
    padding: 0;
}

div.wy-nav-content {
    max-width: 1200px;
}

table {
    margin: 2em auto;
}

table tr td, table tr th {
    padding: 2pt 4pt;
}

table tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

table tr:nth-child(odd) th {
    background-color: #e0e0e0;
}
