---

# Install Transmission bittorrent daemon
- hosts: homebox
  vars_files:
    - '{{ playbook_dir }}/../../config/system.yml'
    - '{{ playbook_dir }}/../../config/defaults.yml'
  vars:
    redirect: true
    certificate:
      type: transmission
  roles:
    - certificates
    - transmission
