---

- name: Install the packages required for ejabberd
  apt:
    name: ejabberd
    state: present

- name: Install graphics library for thumbnails generation
  apt:
    name: '{{ pkgs }}'
    state: '{{ ejabberd.http_upload.thumbnail | ternary("present", "absent") }}'
  vars:
    pkgs:
      - graphicsmagick
      - graphicsmagick-imagemagick-compat

- name: Upload ejabberd configuration
  notify: Restart ejabberd
  template:
    src: ejabberd.yml
    dest: /etc/ejabberd/ejabberd.yml
    mode: 0600
    owner: ejabberd
    group: ejabberd

################################################################################
# At this point, the certificates should have been created already #############
# in order to have SSL and TLS encryption activated.                           #

- name: Remove the self signed certificate
  file:
    path: /etc/ejabberd/ejabberd.pem
    state: absent

- name: Create a key / certificate pair
  notify: Restart ejabberd
  tags: ssl
  shell: >-
    cd /etc/letsencrypt/live/{{ network.domain }} &&
    /bin/cat privkey.pem fullchain.pem > /etc/ejabberd/default.pem
  args:
    creates: /etc/ejabberd/default.pem

- name: Create a key / certificate pair
  notify: Restart ejabberd
  tags: ssl
  shell: >-
    cd /etc/letsencrypt/live/conference.{{ network.domain }} &&
    /bin/cat privkey.pem fullchain.pem > /etc/ejabberd/conference.pem
  args:
    creates: /etc/ejabberd/conference.pem

- name: Generate a strong Diffie Hellman file
  notify: Restart ejabberd
  tags: ssl
  openssl_dhparam:
    path: '{{ dhfile }}'
    size: 2048
    mode: 0600
    owner: root
    group: ejabberd
  with_items:
    - /etc/ejabberd/s2s-dh.pem
    - /etc/ejabberd/c2s-dh.pem
  loop_control:
    loop_var: dhfile

- name: Ensure sensitive files has proper owner and permissions
  notify: Restart ejabberd
  tags: ssl
  file:
    path: '{{ file }}'
    owner: root
    group: ejabberd
    mode: '0440'
  with_items:
    - /etc/ejabberd/default.pem
    - /etc/ejabberd/conference.pem
    - /etc/ejabberd/s2s-dh.pem
    - /etc/ejabberd/c2s-dh.pem
  loop_control:
    loop_var: file

- name: Copy the certificate renewal hook
  tags: scripts
  copy:
    src: renewal-hook.sh
    dest: /etc/letsencrypt/renewal-hooks/deploy/40-ejabberd.sh
    mode: 0755

#
# End of TLS / SSL Configuration ###############################################


# File upload configuration ===================================================
- name: Create the jabber site frontend configuration file
  tags: jabber
  notify: Restart nginx
  template:
    src: frontend.tpl
    dest: '/etc/nginx/sites-available/xmpp.{{ network.domain }}.conf'
    owner: root
    group: root
    mode: 0644

- name: Enable nginx site
  tags: jabber
  notify: Restart nginx
  file:
    src: '/etc/nginx/sites-available/xmpp.{{ network.domain }}.conf'
    dest: '/etc/nginx/sites-enabled/xmpp.{{ network.domain }}.conf'
    state: link

- name: Create the http upload directory
  tags: jabber
  file:
    path: /var/www/ejabberd/files
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Allow the jabber server to write in the folder
  tags: jabber
  acl:
    path: /var/www/ejabberd/files
    entity: ejabberd
    etype: user
    permissions: rwx
    state: present

- name: Create the http upload jabber site
  tags: jabber
  template:
    src: upload-home.html
    dest: /var/www/ejabberd/files/index.html
    owner: root
    group: root
    mode: '0644'

# Firewall configuration ======================================================
- name: Open the firewall for s2c communication
  tags: ufw
  ufw:
    rule: allow
    proto: tcp
    port: '{{ rule.ports }}'
    comment: '{{ rule.comment }}'
  with_items:
    - ports: 5222
      comment: Accept XMPP connections from clients (TLS only)
  loop_control:
    loop_var: rule

- name: Open the firewall for s2s communication when necessary
  tags: ufw
  ufw:
    rule: allow
    proto: tcp
    port: '{{ rule.ports }}'
    comment: '{{ rule.comment }}'
    delete: '{{ ejabberd.s2s.active == false }}'
  with_items:
    - ports: 5269
      comment: Accept XMPP connections from other servers
  loop_control:
    loop_var: rule

- name: Open the firewall for s2c communication
  tags: ufw
  ufw:
    direction: out
    rule: allow
    proto: tcp
    port: '{{ rule.ports }}'
    comment: '{{ rule.comment }}'
  with_items:
    - ports: 5222
      comment: Accept XMPP connections from clients (TLS only)
  loop_control:
    loop_var: rule

- name: Open the firewall for s2s communication when necessary
  tags: ufw
  ufw:
    direction: out
    rule: allow
    proto: tcp
    port: '{{ rule.ports }}'
    comment: '{{ rule.comment }}'
    delete: '{{ ejabberd.s2s.active == false }}'
  with_items:
    - ports: 5269
      comment: Accept XMPP connections from other servers
  loop_control:
    loop_var: rule

# AppArmor configuration ======================================================
- name: Install ejabberdctl AppArmor profile
  tags: security, apparmor
  register: aa_templates
  template:
    src: 'apparmor.d/local/usr.sbin.ejabberdctl'
    dest: '/etc/apparmor.d/local/usr.sbin.ejabberdctl'

- name: Activate AppArmor profiles
  when: aa_templates.changed
  tags: security, apparmor
  notify: Restart AppArmor service
  command: 'aa-enforce usr.sbin.ejabberdctl'

# AppArmor configuration (web frontend) =======================================

- name: Install ejabberdctl AppArmor profile
  tags: security, apparmor
  register: aa_templates
  template:
    src: 'apparmor.d/local/jabber-frontend'
    dest: '/etc/apparmor.d/local/nginx-jabber-frontend'

# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=860951
- name: Allow ejabberdctl to run su
  tags: config, apparmor
  replace:
    path: /etc/apparmor.d/usr.sbin.ejabberdctl
    regexp: '(\s+/bin/su\s+)r,$'
    replace: '\1mr,'

- name: Check if AppArmor nginx configuration already contains the line
  register: line_found
  tags: facts,apparmor
  shell: >-
    grep -c 'include <local/nginx-jabber-frontend>'
    /etc/apparmor.d/usr.sbin.nginx
  changed_when: false
  failed_when: false

- name: Add ejabberd AppArmor specific configuration
  when: line_found.stdout == '0'
  notify: Restart AppArmor service
  tags: nginx, security, apparmor
  lineinfile:
    path: /etc/apparmor.d/usr.sbin.nginx
    line: '  #include <local/nginx-jabber-frontend>'
    insertbefore: '# End of local includes for homebox'

# Create entries for the DNS server ===========================================
- name: Generate DNS records for bind
  tags: bind
  when: bind.install
  template:
    src: 50-jabber.bind
    dest: /etc/homebox/dns-entries.d/50-jabber.bind
