---

- name: Restart OpenDMARC service
  systemd:
    name: opendmarc
    state: restarted
    enabled: true
    no_block: true

- name: Restart AppArmor service
  systemd:
    name: apparmor
    state: restarted
    no_block: true

- name: Restart postfix
  systemd:
    name: postfix
    state: restarted
    no_block: true
