# Nginx AppArmor profile
#include <tunables/global>

/usr/sbin/nginx {

  #include <abstractions/base>
  #include <abstractions/nis>
  #include <abstractions/nameservice>
  #include <abstractions/openssl>
  #include <abstractions/ssl_keys>
   
  # Capabilities and network
  capability dac_override,
  capability dac_read_search,
  capability net_bind_service,
  capability setgid,
  capability setuid,network inet stream,
  network inet6 stream,

  # Allow to read configuration files
  /etc/nginx/modules-enabled/ r,
  /usr/share/nginx/modules-available/mod-*.conf r,
  /etc/nginx/** r,
  /etc/letsencrypt/archive/webmail.{{ network.domain }}/* r,

  # Binaries
  /usr/share/nginx/modules/ngx_*.so mr,
  /lib/x86_64-linux-gnu/ld-*.so mr,
  /usr/lib/nginx/modules/ngx_*.so mr,
  /usr/sbin/nginx mr,

  # Web content
  /usr/share/roundcube/** r,
  /var/lib/nginx/body/* rw,

  # Allow the web server to access autoconfig
  # TODO: Use another approach for apparmor profiles update
  /var/www/autoconfig/mail/config-v1.1.xml r,

  # Log files
  /run/nginx.pid rw,
  /var/log/nginx/access.log w,
  /var/log/nginx/error.log w,

  # Roundcube resources
  /usr/share/roundcube/program/resources/** r,
}
