# This example allows you to use cloud and extra modules.
# Just clone at the same level of homebox folder, and use the install playbook
# cloud-modules: https://github.com/progmaticltd/homebox-cloud-modules
# extra-modules: https://github.com/progmaticltd/homebox-extra-modules

[defaults]
retry_files_enabled = False
display_skipped_hosts = False
stdout_callback = yaml
callback_enabled = profile_roles
roles_path = {{ playbook_dir }}/../../../homebox-cloud-modules/roles/:{{ playbook_dir }}/../../../homebox-extra-modules/roles/:{{ playbook_dir }}/../../roles/
connection_plugins = {{ playbook_dir }}/../../common/connection-plugins/
filter_plugins = {{ playbook_dir }}/../../common/filter-plugins/
remote_tmp = /tmp/
inventory=../config/hosts.yml

# Significantly decreases deployment time
[ssh_connection]
pipelining = True
