---

- name: Check nginx config
  shell: nginx -t
  changed_when: false

- name: Restart nginx
  systemd:
    name: nginx
    state: restarted
    no_block: true

- name: Restart AppArmor service
  systemd:
    name: apparmor
    state: restarted
    no_block: true
