# Wireguard network definition
[Match]
Name = wg0

[Network]
Address = {{ wireguard.network.ipv4_address | ansible.utils.ipaddr(1) }}
Address = {{ wireguard.network.ipv6_address | ansible.utils.ipaddr(1) }}
