# Wireguard network definition
[NetDev]
Name=wg0
Kind=wireguard
Description=WireGuard for {{ network.domain }}

[WireGuard]
PrivateKey={{ server_private_key }}
ListenPort={{ wireguard.network.port }}

{% for user in users %}

# Config for user "{{ user.uid }}-default"
[WireGuardPeer]
PublicKey={{ user_keys[user.uid] }}
PresharedKey={{ user_pre_shared_keys[user.uid] }}
AllowedIPs = 0.0.0.0/0, ::/0
{% endfor %}
