---

- name: Extract backup location details
  tags: backup, facts
  ansible.builtin.set_fact:
    protocol: '{{ location.url | urlsplit("scheme") }}'
    location_host: '{{ location.url | urlsplit("hostname") }}'
    location_user: '{{ location.url | urlsplit("username") | default("backup") }}'
    location_path: '{{ location.url | urlsplit("path") }}'
    location_details: '{{ location.url | urlsplit }}'

- name: Create the backup config into /etc/homebox
  tags: config
  community.general.ini_file:
    path: '/etc/homebox/backup.ini'
    section: '{{ location.name }}'
    option: '{{ option.name }}'
    value: '{{ option.value }}'
    mode: '0600'
  with_items:
    - name: url
      value: '{{ location.url }}'
    - name: active
      value: '{{ location.active }}'
    - name: keep_daily
      value: '{{ location.keep_daily | default(1) }}'
    - name: keep_weekly
      value: '{{ location.keep_weekly | default(1) }}'
    - name: keep_monthly
      value: '{{ location.keep_monthly | default(1) }}'
    - name: compression
      value: '{{ location.compression | default("lz4") }}'
  loop_control:
    loop_var: option

- name: Create a directory to store all the ssh configuration segments
  tags: backup
  ansible.builtin.file:
    path: /root/.ssh/config.d/
    state: directory

- name: Allow external SSH connections
  tags: ufw
  community.general.ufw:
    direction: out
    proto: tcp
    port: 22
    src: any
    rule: allow
    comment: Allow the box to connect outside via SSH for backup

- name: Include the generated configutations in the main file
  tags: ssh
  ansible.builtin.lineinfile:
    path: /root/.ssh/config
    line: '{{ line }}'
    create: true
  with_items:
    - "# Generated by homebox:"
    - "Include config.d/*"
  loop_control:
    loop_var: line

- name: Configure the backup location
  tags: ssh
  ansible.builtin.template:
    src: 'ssh-config'
    dest: '/root/.ssh/config.d/backup-{{ location.name }}'

- name: Get backup server signature
  tags: ssh
  ansible.builtin.shell: 'ssh-keyscan -H {{ location_host }}'
  register: keyscan

- name: Add the backup server to known_hosts, once for all
  tags: ssh
  ansible.builtin.lineinfile:
    path: /root/.ssh/known_hosts
    line: '{{ line }}'
    create: yes
  with_items:
    - '{{ keyscan.stdout_lines }}'
  loop_control:
    loop_var: line
