<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Report for</title>
        <style>
            table { border: 1px solid #ddd }
            th { padding: 0.2em 1ch }
            th { padding: 0.2em 1ch }
            tr:nth-child(odd) { background: #eee }
            td.d { background-color:#ddd }
            td.l { background-color:#fff }
        </style>
    </head>
    <body>
        <div id="report-isp">
            <h2>Report By ISP</h2>
            <table>
                <tr>
                    <th>ISP</th>
                    <th>Country</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Count</th>
                </tr>
                {% for record in ispReport %}
                <tr>
                    <td><em>{{ record['isp'] }}</em></td>
                    <td>{{ record['country'] }}</td>
                    <td>{{ record['from-date'] }}</td>
                    <td>{{ record['till-date'] }}</td>
                    <td>{{ record['nbConnections'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="report-country">
            <h2>Report By Country</h2>
            <table>
                <tr>
                    <th>Country</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Count</th>
                </tr>
                {% for record in countryReport %}
                <tr>
                    <td>{{ record['country'] }}</td>
                    <td>{{ record['from-date'] }}</td>
                    <td>{{ record['till-date'] }}</td>
                    <td>{{ record['nbConnections'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if sourceReport %}
        <div id="report-source">
            <h2>Report By Source</h2>
            <table>
                <tr>
                    <th>Source</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Count</th>
                </tr>
                {% for record in sourceReport %}
                <tr>
                    <td>{{ record['source'] }}</td>
                    <td>{{ record['from-date'] }}</td>
                    <td>{{ record['till-date'] }}</td>
                    <td>{{ record['nbConnections'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if statusReport %}
        <div id="report-status">
            <h2>Report By Status</h2>
            <table>
                <tr>
                    <th>Status</th>
                    <th>IP</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Count</th>
                </tr>
                {% for record in statusReport %}
                <tr>
                    <td>{{ record['status'] }}</td>
                    <td><a href="https://duckduckgo.com/?q={{ record['ip'] }}">{{ record['ip'] }}</a></td>
                    <td>{{ record['from-date'] }}</td>
                    <td>{{ record['till-date'] }}</td>
                    <td>{{ record['nbConnections'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if hourReport %}
        <div id="report-status">
            <h2>Report By Hour</h2>
            <table>
                {%- for c in range(20, 0, -1) -%}
                <tr>
                    {%- for h in range(0, 24) %}
                    <td class="{{ 'd' if (hourReport[h]['count'] >= c) else 'l' }}">&nbsp;</td>
                    {% endfor -%}
                </tr>
                {%- endfor -%}
                <tr>
                    {%- for h in range(0, 24) -%}
                    <th>{{ "%02d" | format(h) }}</th>
                    {%- endfor -%}
                </tr>
            </table>
        </div>
        {% endif %}
    </body>
</html>
