---

###############################################################################
# Extra security values
security_default:
  auto_update: true                             # Install security updates automatically, using unattended-upgrades
  ssh_disable_root_access_with_password: true   # Force SSH authentication to use public / private key for root
  ssh_disable_root_access: false                # At the end of the installation, completely disable remote
                                                # root access via SSH and force the use of sudo for the administrators
  lock_root_password: true                      # Disable console root access by locking root password.
  ssh_disable_users_access_with_password: false # Force SSH authentication to use public / private key for all users
  alerts_email:
    - 'admin@{{ network.domain }}'

  # Automatically reboot the system when needed after an upgrade
  auto_reboot:
    active: true
    time: 00:00

  # Auto ban parameters
  # autoban is a lighter alternative of fail2ban, based on nftables advanced features.
  autoban:
    active: true
    rate: 10/minute
    period: 2h

  # The size of the Diffie-Hellman parameters to use for DHE ciphers.
  # Predifined values from the RFC7919 will be used wherever possible.
  # Possible values are: 2048, 4096.
  dhparam_size: 2048
  # TLS configuration parameters according to the "Intermediate" configuration
  # recommended by Mozilla.
  # https://wiki.mozilla.org/Security/Server_Side_TLS
  tls:
    openssl_ciphers:
      - ECDHE-ECDSA-AES128-GCM-SHA256
      - ECDHE-RSA-AES128-GCM-SHA256
      - ECDHE-ECDSA-AES256-GCM-SHA384
      - ECDHE-RSA-AES256-GCM-SHA384
      - ECDHE-ECDSA-CHACHA20-POLY1305
      - ECDHE-RSA-CHACHA20-POLY1305
      - DHE-RSA-AES128-GCM-SHA256
      - DHE-RSA-AES256-GCM-SHA384
      - DHE-RSA-CHACHA20-POLY1305

    # Protocol versions listed from oldest to newest
    versions:
      - 'TLSv1.2'
      - 'TLSv1.3'
    unused_versions:
      - 'SSLv2'
      - 'SSLv3'
      - 'TLSv1'
      - 'TLSv1.1'
    ocsp_staple: true
    server_preferred_order: false


###############################################################################
# Default password policies for users
passwords_default:
  min_length: 8
  max_age: 31536000        # 365 days max
  max_failure: 5
  expire_warning: 604800   # one week
  require_nonalpha: true

  # Keep track of the passwords you have used before
  # If you do not want, set this value to 0
  # Passwords are stored using salted SHA512, safe enough
  remember: 12

  # Password quality module
  quality:
    enforce: true
    params:
      - name: retry
        value: 5
      - name: minlen
        value: 8
      - name: minclass
        value: 3
      - name: maxrepeat
        value: 3
      - name: maxclassrepeat
        value: 4
      - name: lcredit
        value: 1
      - name: ucredit
        value: 1
      - name: ocredit
        value: 3
      - name: dcredit
        value: 1
      - name: difok
        value: 3


###############################################################################
# Credentials store
#
# Credentials store to use
creds_default:
  store: password
  prefix: '{{ network.domain }}/'
  opts:
    create: ' create=True'
    # Used for system, should be safe without quoting, but long enough to be secure
    system: ' length=16 nosymbols=true'
    overwrite: ' overwrite=True'
