---

tomcat_version:
  stretch: 8
  buster: 9

sieve:
  global_scripts:
    - duplicate-checks.sieve
    - sent-checks.sieve
    - before-global.sieve
    - report-spam.sieve
    - report-ham.sieve
    - tags-important.sieve
    - draft-rules.sieve

# Default dovecot packages to install
dovecot:
  packages:
    - dovecot-core
    - dovecot-imapd
    - dovecot-lmtpd
    - dovecot-pop3d
    - dovecot-managesieved
    - dovecot-sieve
    - dovecot-ldap
  fts_packages:
    - dovecot-fts-xapian
    - poppler-utils
    - catdoc
    - unzip
    - docx2txt
    - odt2txt
    - xlsx2csv
    - unrtf
    - gzip
    - p7zip-full
    - p7zip-rar
    - tnef
  access_check_packages:
    - grepcidr
    - sqlite3
    - curl
  settings:
    mail_max_userip_connections: 64
    lda_mailbox_autocreate: no
    lda_mailbox_autosubscribe: no
  # Authorized characters for the username
  username_chars: abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890.-_@
  # Since Debian Buster, these profiles are included in apparmor-proofiles-extra
  apparmor_system_profiles:
    - usr.lib.dovecot.anvil
    - usr.lib.dovecot.auth
    - usr.lib.dovecot.config
    - usr.lib.dovecot.deliver
    - usr.lib.dovecot.dict
    - usr.lib.dovecot.dovecot-auth
    - usr.lib.dovecot.dovecot-lda
    - usr.lib.dovecot.imap
    - usr.lib.dovecot.imap-login
    - usr.lib.dovecot.lmtp
    - usr.lib.dovecot.log
    - usr.lib.dovecot.managesieve
    - usr.lib.dovecot.managesieve-login
    - usr.lib.dovecot.pop3
    - usr.lib.dovecot.pop3-login
    - usr.lib.dovecot.ssl-params
    - usr.sbin.dovecot
