[Unit]
Description=User webdav server
ConditionDirectoryNotEmpty=%h/.config/webdav/

[Service]
Type=forking
ExecStartPre=/usr/bin/rm /var/tmp/webdav-user/%u/socket
ExecStart=/usr/sbin/nginx -c %h/.config/webdav/nginx.conf
ExecStop=/usr/bin/rm /var/tmp/webdav-user/%u/socket
Restart=on-failure
WorkingDirectory=%h
PrivateTmp=yes

[Install]
WantedBy=default.target
