---

## Installation playbook for one role

# export the role you want to run in the ‘ROLE’ environment variable
# and run the playbook.

- name: Load the roles to run
  hosts: homebox
  tags: always
  tasks:
    - name: Load the roles to run
      set_fact:
        roles_list: '{{ lookup("env", "ROLE").split(",") }}'

- name: Run the install tasks for each role
  hosts: homebox
  vars:
    debug: '{{ debug | default(system.debug) }}'
    hide_secrets: true
    backup_directory: '{{ playbook_dir }}/../backup/{{ network.domain }}/'
  vars_files:
    - '{{ playbook_dir }}/../config/defaults/common-security.yml'
    - '{{ playbook_dir }}/../config/defaults/version-{{ version | default("small") }}.yml'
    - '{{ playbook_dir }}/../config/system.yml'
  tasks:
    - name: Run the role selected
      tags: always
      include_role:
        name: '{{ role }}'
        tasks_from: install/main.yml
      loop: '{{ [ "common-init" ] + roles_list }}'
      loop_control:
        loop_var: role
